{% extends 'Flower/base.html' %}
{% load static %}
{% block content%}
<body>
	<section id="card">
		<div class="container">
			<div class="card ficb">
				<div class="card__block card__block_first">
					<img src="{{bouquet.image.url}}" alt="img" class="card__img">
				</div>
				<div class="card__block card__block_sec">
					<div class="title">{{bouquet.name}}</div>
					<div class="card__block_price">{{bouquet.price}} руб</div>
					<div class="card__elems ">
						<span class="card__elems_intro">Состав</span>
						<div class="card__items">
							{% for flower in bouquet_flowers %}
								<span class="card_items_intro">
									{{flower.flower.name}} - {{flower.quantity}} шт.
								</span>
							{% endfor%}
							<span class="card_items_intro">
								Открыточка с вашими пожеланиями - 1 шт.
							</span>
							<span class="card_items_intro">
								Любовь флориста (бесплатно) - 1 шт.
							</span>
							
						</div>
					</div>
					<div class="card__elems ">
						<span class="card__elems_intro">Размер</span>
						<div class="card__items">
							<span class="card_items_intro">
								Высота - {{bouquet.height}} см
							</span>
							<span class="card_items_intro">
								Ширина - {{bouquet.width}} см
							</span>
						</div>
					</div>
					<a href="{% url "Flower:order" bouquet.id %}"><button class="btn largeBtn card__btn">Заказать букет</button></a>
				</div>
			</div>
		</div>
	</section>
	{% block consultation %}
	<section id="consultation">
		{% if form.errors%}
		<div class='form_message' style='text-align:center; margin:10px;'>
			<p style='backgound-color:red;'>Номер телефона введён некоретно.</p>
		</div>
		{% endif %}

		{% if messages %}
		<div class="form_message" style='text-align:center; margin:10px;'>
			{% for message in messages %}
				<p> {{ message }} </p>
			{% endfor %}
		</div>
		{% endif %}
		<div class="container">
			<div class="consultation">
				<div class="title consultation__title">Оставьте заявку на консультацию</div>
				<form class="consultation__form" method='post'>
					{% csrf_token %}
					{{form.name}}
					{{form.phonenumber}}
					<a href='#consultation'><button type="submit" class="consultation__form_btn">Отправить</button></a>
				</form>
			</div>
		</div>
	</section>
	{% endblock %}
</body>
{% endblock %}
