{% extends 'Flower/base.html' %}
{% load static%}
{% block content%}
<body>
	<section id="catalog">
		<div class="container p100">
			<div class="catalog">
				<div class="title">Все букеты</div>
				<div class="catalog__block">
					
					<div class="recommended__elems ficb recommended__elems_first">
						{% for bouquet in recommended_bouquets %}
							<div class="recommended__block" onclick="location.href='{% url 'Flower:card' bouquet.id %}'"; style='background: url({{bouquet.image.url}}) no-repeat center bottom / cover; width:400px'>
								<div class="recommended__block_elems ficb">
									<span class="recommended__block_intro">{{bouquet.name}}</span>
									<span class="recommended__block_price">{{bouquet.price}} руб</span>
								</div>
							</div>
						{% endfor %}
					</div>
					{% for row in bouquets %}
						<div class="extra_bouquets" style="display:None">
							<div class="recommended__elems ficb">
								{% for bouquet in row %}
									<div class="recommended__block" onclick="location.href='{% url 'Flower:card' bouquet.id %}'"; style='background: url({{bouquet.image.url}}) no-repeat center bottom / cover; width:400px'>
										<div class="recommended__block_elems ficb">
											<span class="recommended__block_intro">{{bouquet.name}}</span>
											<span class="recommended__block_price">{{bouquet.price}} руб</span>
										</div>
									</div>
								{% endfor %}
							</div>
						</div>
					{% endfor %}
					</div>
					<input id="more_bouquets" type="button" class="btn largeBtn catalog__btn" value="Показать ещё" onmousedown="viewDiv()">
				</div>
			</div>
		</div>
	</section>
	<section id="consultation">
		<div class="container">
			<div class="consultation">
				<div class="title consultation__title">Оставьте заявку на консультацию</div>
				<form action="#" class="consultation__form">
					<input type="text" name="fname" class="consultation__form_input" placeholder="Введите Имя" required>
					<input type="text" name="tel" class="consultation__form_input" placeholder="+ 7 (999) 000 00 00" required>
					<button type="submit" class="consultation__form_btn">Отправить</button>
				</form>
			</div>
		</div>
	</section>
	<script src="{% static 'Flower/js/main.js' %}"></script>
</body>
{% endblock %}