{% extends 'Flower/base.html' %}
{% load static%}
{% block content%}
<body>
	<section id="catalog">
		<div class="container p100">
			<div class="catalog">
				<div class="title">Все букеты</div>
				<div class="catalog__block">
					
					<div class="recommended__elems ficb recommended__elems_first">
						{% for bouquet in recommended_bouquets %}
							<div class="recommended__block" onclick="location.href='{% url 'Flower:card' bouquet.id %}'"; style='background: url({{bouquet.image.url}}) no-repeat center bottom / cover; width:400px'>
								<div class="recommended__block_elems ficb">
									<span class="recommended__block_intro">{{bouquet.name}}</span>
									<span class="recommended__block_price">{{bouquet.price}} руб</span>
								</div>
							</div>
						{% endfor %}
					</div>
					{% for row in bouquets %}
						<div class="extra_bouquets" style="display:None">
							<div class="recommended__elems ficb">
								{% for bouquet in row %}
									<div class="recommended__block" onclick="location.href='{% url 'Flower:card' bouquet.id %}'"; style='background: url({{bouquet.image.url}}) no-repeat center bottom / cover; width:400px'>
										<div class="recommended__block_elems ficb">
											<span class="recommended__block_intro">{{bouquet.name}}</span>
											<span class="recommended__block_price">{{bouquet.price}} руб</span>
										</div>
									</div>
								{% endfor %}
							</div>
						</div>
					{% endfor %}
					</div>
					<input id="more_bouquets" type="button" class="btn largeBtn catalog__btn" value="Показать ещё" onmousedown="viewDiv()">
				</div>
			</div>
		</div>
	</section>
	{% block consultation %}
	<section id="consultation">
		{% if form.errors%}
		<div class='form_message' style='text-align:center; margin:10px;'>
			<p style='backgound-color:red;'>Номер телефона введён некоретно.</p>
		</div>
		{% endif %}

		{% if messages %}
		<div class="form_message" style='text-align:center; margin:10px;'>
			{% for message in messages %}
				<p> {{ message }} </p>
			{% endfor %}
		</div>
		{% endif %}
		<div class="container">
			<div class="consultation">
				<div class="title consultation__title">Оставьте заявку на консультацию</div>
				<form class="consultation__form" method='post'>
					{% csrf_token %}
					{{form.name}}
					{{form.phonenumber}}
					<a href='#consultation'><button type="submit" class="consultation__form_btn">Отправить</button></a>
				</form>
			</div>
		</div>
	</section>
	{% endblock %}
	<script src="{% static 'Flower/js/main.js' %}"></script>
</body>
{% endblock %}